.validation-summary-errors > ul {
    margin-top: 4px;
    margin-bottom: 16px;
}
.login-page,
.register-page {
    background: #ecf0f1;
}

.login-page .login-box,
.login-page .register-box {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto !important;
    padding-top: 7%;
}